<form action="/create-comment" method="post">
    <label for="content">Comment</label>
    <input type="text" name="content" id="content" placeholder="This world needs to ...">
    <button type="submit">Submit</button>
</form>