<form action="/create-comment" method="post">
    <label for="content">Comment</label>
    <input type="text" name="content" id="content" value={{content}} >
    <button type="submit">Update</button>
</form>