<form action="/edit-comment" method="post" id='commentForm'>
    <label for="content">Comment</label>
    <textarea
        rows="4"
        cols="50"
        name="content"
    >{{findUser.comment.content}}</textarea>
    <button type="submit">Update</button>
</form>