<h1>At Worlds end</h1>
<p style="text-align: center;">
  This is not the end of the world, yet. You just reached a place we can not follow you anymore.
</p>

<div class="crt" id='bomb' style="font-size: 18;">
</div>
{{!-- Script loading --}}
<script src="/scripts/bomb.js"></script>