<h1>Comments</h1>

<div id="chartDiv">
  <canvas id="myChart"></canvas>
</div>

<section class="comments">
  {{#each users}}
      <div class="comment">
          User: {{username}}
          {{> comment comment}}
      </div>
  {{/each}}
</section>

{{!-- Script loading --}}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/scripts/charts.js"></script>