<h1>Comments</h1>

<div id="chartDiv">
  <canvas id="myChart"></canvas>
</div>

{{#each users}}
    <div class="comment">
        User: {{username}}
        {{> comment comment}}
    </div>
{{/each}}

{{!-- Script loading --}}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/scripts/charts.js"></script>