<h1>Comments</h1>

<div id="chartDiv">
  <canvas id="myChart"></canvas>
</div>

<div class="comments">
  {{#each users}}
    <div class="comment">
      <p id="username">{{username}}</p>
      {{> comment comment}}
    </div>
  {{/each}}
</div>

{{!-- Script loading --}}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/scripts/charts.js"></script>