<h1>Comments</h1>

<div id="chartDiv" class="crtBox">
  <canvas id="myChart"></canvas>
</div>

{{#each users}}
    <div class="comment">
        User: {{username}}
        {{> comment comment}}
    </div>
{{/each}}
