<h1>Comments</h1>

<div id="totalChartDiv">
  <canvas id="totalChart"></canvas>
</div>

<div class="comments">
  {{#each users}}
    <div class="comment">
      <p id="username">{{username}}</p>
      {{> comment comment}}
    </div>
  {{/each}}
</div>
<h2>Votes by usertype</h2>
<div id="pieChartDiv">
  <canvas id="pieChart"></canvas>
</div>
<h2>TimeStamps</h2>
<div id="timeStampChartDiv">
  <canvas id="timeStampChart"></canvas>
</div>


{{!-- Script loading --}}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/scripts/charts.js"></script>