<h1>WELCOME</h1>
<section class="doom-buttons">

</section>

<section class="comment-form">
{{> createComment}}
</section>

<section class="comments">
  {{#each users}}
    <p>User: {{username}}</p>
    {{> comment comment}}
    <hr>
  {{/each}}
</section>

