<h1>WELCOME</h1>
<section class="doom-buttons">

</section>

{{#if user}}
  <section class="comment-form">
    {{#if findUser.comment}}
        {{> editComment}}
    {{else}}
        {{> createComment}}
    {{/if}}
  </section>
{{/if}}
