<h1>What is this?</h1>
<section class="FAQ">
    <p>
        Collective Choice asks you, to be responsible of switching ON the
        dooms-day-machine.
    </p>
    <h2>What can i do?</h2>
    <p>
        Press the red button, if you want the world to end.
    </p>
    <p>
        Press the green button, if you want to give the world another chance.
    </p>
    <p>
        Each vote will directly influence the Doom-O-Meter. If the critical mass is
        reached, the world will end or see another day. Congratulations humanity.
    </p>
    <h2>Comment on your decision</h2>
    <p>
        If you whish to explain your decision, we give you gladly the means to do so.
        Just create an account, write your comment and press the big red/green button.
    </p>
    <h2>What about bots?</h2>
    <p>
        We are taking this into account. By not blocking them. Computer have become
        a part of this world and are already capable to do great things. We actually
        hope to show a chart, which shows how many humans or bots have voted and for
        what.
    </p>
    <h2>Will the world really end?!</h2>
    <p>
        Yes, i am willing to destroy the world, to fullfill this sites destiny!
        Right now, i have an old pen and some gum and the knowledge to build a
        Dooms-Day-Mashine out of it.
    </p>
</section>