<h1>Login</h1>
<form action="/login" method="POST">
    <label for="email">
        <input type="email" name="email" id="email">Email
    </label>
    <label for="password">
        <input type="password" name="password" id="">Password
    </label>
<button type="submit">LOGIN</button>
</form>