<section class="login-signup">
    <h1>Login</h1>
    <form action="/login" method="POST">
        <label for="email">Email
        </label>
            <input type="email" name="email" id="email" />
        <label for="password">Password
        </label>
            <input type="password" name="password" id="" />
        <button type="submit">LOGIN</button>
    </form>
</section>

<div class="crt" id='signup-ascii'>
</div>
{{!-- Script loading --}}
<script src="/scripts/login.js"></script>