<h1>Sign up</h1>
<form action="/signup" method="POST">
    <label for="">
        <input type="text" name="username" id="username">Username
    </label>
    <label for="email">
        <input type="email" name="email" id="email">Email
    </label>
    <label for="password">
        <input type="password" name="password" id="">Password
    </label>
<button type="submit">SIGN UP</button>
</form>