/* VARIABLES */
:root {
  --background: #1e1e1e;
  --green: rgb(255, 183, 0);
  --red: #f5939e;
  --text: #ffc608;
}

/* resets css for any browser */
* {
  margin: 0;
  padding: 0;
  font-family: "Courier Prime", monospace;
  font-weight: bolder;
  color: var(--text);
}

a {
  color: white;
  text-decoration: none;
}

body {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  margin-bottom: 3%;
}

h1 {
  margin: 2% 0 2%;
}
h2 {
  margin: 3% 0 0.5%;
}

/* NAVIGATION */
nav {
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; */
  background-color: var(--background);
  margin-bottom: 3%;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
}
nav li {
  list-style: none;
  margin: 5px;
}
nav button {
  /* text-decoration: none;
  padding: 2px 6px 2px 6px;
  background-color: transparent;
  border: none;
  color: white; */
}

/* COMMENTS */
/* CHARTS */
#totalChartDiv {
  background-color: var(--background);
  width: 80%;
  height: 80px;
}
.comments {
  width: 80%;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
}
.comment {
  margin: 20px 0;
  padding: 2%;
  border-radius: 15px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}
.comment-upvote * {
  color: #00e58d;
}
.comment-downvote * {
  color: #ff466e;
}
#username {
  font-size: 22px;
  margin-bottom: 5px;
}
#timeStampChartDiv {
  background-color: var(--background);
  width: 80%;
}
#pieChartDiv {
  background-color: var(--background);
  width: 50%;
}

/* ASCII EARTH Styling */
#earth {
  font-size: 9;
  margin-top: 5%;
  width: 24em;
  text-rendering: optimizeSpeed;
  text-align: center;
}
#bomb {
  font-size: 9;
  margin-top: 5%;
  width: 24em;
  text-rendering: optimizeSpeed;
  text-align: center;
}
#signup-ascii {
  font-size: 9;
  margin-top: 5%;
  width: 24em;
  text-rendering: optimizeSpeed;
  text-align: center;
}

/* INDEX */
/* Checkbox */
.form-checkbox {
  width: 80%;
  text-align: center;
}
/* CALL TO ACTION */

#callToAction {
  text-align: center;
  font-size: 0.8em;
}
#callToAction p {
  line-height: 25px;
  margin-bottom: 20px;
}

/* BUTTONS */
.fat-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cnt-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.fat-buttons button {
  background-color: Transparent;
  border: none;
}
.fat-buttons img {
  width: 100px;
}
.fat-buttons img:hover {
  transform: scale(1.04);
}
.fat-buttons img:active {
  filter: brightness(150%);
  transform: translateY(4px);
}

/* LOGIN & SIGNUP */
.login-signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}
.login-signup form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}
.login-signup label {
  margin-bottom: 2%;
  margin-top: 8%;
}
input {
  background-color: transparent;
  /* border: none; */
  border-color: rgb(255, 255, 255, .2);
}
button {
  background-color: transparent;
  /* border: none; */
  margin-top: 8%;
  border-color: rgb(255, 255, 255, .2);
}
textarea {
  background-color: transparent;
  border-color: rgb(255, 255, 255, .2);
}
select {
  background-color: transparent;
  border-color: rgb(255, 255, 255, .2);
}
option {
  background-color: var(--background);
}

.edit-and-create {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}
.edit-and-create form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.FAQ {
  width: 80%;
}

/* TEXT STYLE ANIMATION FLICKERING */
@keyframes textShadow {
  0% {
    text-shadow: 0.4389924193300864px 0 1px rgba(0, 30, 255, 0.5),
      -0.4389924193300864px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  5% {
    text-shadow: 2.7928974010788217px 0 1px rgba(0, 30, 255, 0.5),
      -2.7928974010788217px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  10% {
    text-shadow: 0.02956275843481219px 0 1px rgba(0, 30, 255, 0.5),
      -0.02956275843481219px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  15% {
    text-shadow: 0.40218538552878136px 0 1px rgba(0, 30, 255, 0.5),
      -0.40218538552878136px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  20% {
    text-shadow: 3.4794037899852017px 0 1px rgba(0, 30, 255, 0.5),
      -3.4794037899852017px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  25% {
    text-shadow: 1.6125630401149584px 0 1px rgba(0, 30, 255, 0.5),
      -1.6125630401149584px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  30% {
    text-shadow: 0.7015590085143956px 0 1px rgba(0, 30, 255, 0.5),
      -0.7015590085143956px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  35% {
    text-shadow: 3.896914047650351px 0 1px rgba(0, 30, 255, 0.5),
      -3.896914047650351px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  40% {
    text-shadow: 3.870905614848819px 0 1px rgba(0, 30, 255, 0.5),
      -3.870905614848819px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  45% {
    text-shadow: 2.231056963361899px 0 1px rgba(0, 30, 255, 0.5),
      -2.231056963361899px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  50% {
    text-shadow: 0.08084290417898504px 0 1px rgba(0, 30, 255, 0.5),
      -0.08084290417898504px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  55% {
    text-shadow: 2.3758461067427543px 0 1px rgba(0, 30, 255, 0.5),
      -2.3758461067427543px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  60% {
    text-shadow: 2.202193051050636px 0 1px rgba(0, 30, 255, 0.5),
      -2.202193051050636px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  65% {
    text-shadow: 2.8638780614874975px 0 1px rgba(0, 30, 255, 0.5),
      -2.8638780614874975px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  70% {
    text-shadow: 0.48874025155497314px 0 1px rgba(0, 30, 255, 0.5),
      -0.48874025155497314px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  75% {
    text-shadow: 1.8948491305757957px 0 1px rgba(0, 30, 255, 0.5),
      -1.8948491305757957px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  80% {
    text-shadow: 0.0833037308038857px 0 1px rgba(0, 30, 255, 0.5),
      -0.0833037308038857px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  85% {
    text-shadow: 0.09769827255241735px 0 1px rgba(0, 30, 255, 0.5),
      -0.09769827255241735px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  90% {
    text-shadow: 3.443339761481782px 0 1px rgba(0, 30, 255, 0.5),
      -3.443339761481782px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  95% {
    text-shadow: 2.1841838852799786px 0 1px rgba(0, 30, 255, 0.5),
      -2.1841838852799786px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  100% {
    text-shadow: 2.6208764473832513px 0 1px rgba(0, 30, 255, 0.5),
      -2.6208764473832513px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
}
.crt {
  animation: textShadow 1.6s infinite;
}
