/* resets css for any browser */
* {
  margin: 0;
  padding: 0;
  font-family: 'Anton', sans-serif;
  color: red;
}

a {
    color: cyan;
    text-decoration: none;
}

body {
  background-color: rgb(19, 19, 19);
  /* color: rgb(175, 175, 175); */
}

section {
  margin: 15px 0;
}

.comment {
  margin: 15px 0;
}

nav button {
  font: bold 15px Arial;
  text-decoration: none;
  background-color: greenyellow;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

#chartDiv {
  background-color: blue;
  width: 100vw;
}